InheritParentConfig: true
Checks: '-*,readability-identifier-naming'
CheckOptions:
  - key: readability-identifier-naming.ClassMethodCase
    value: camelBack
  - key: readability-identifier-naming.FunctionCase
    value: camelBack
#  - key: readability-identifier-naming.ClassMethodSuffix
#    value: _
